
.head img {
    width: 300px;
    height: auto;
    border-radius: 50%; 
    border: 3px solid #a9bfd8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)
    
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.position {
    text-align: center;
}

.body {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 20px;
}

footer {
    text-align: center;
    top: 40px;
    background-color: rgb(236, 226, 226);
    color: rgb(19, 18, 18);
}

.box1 p {
    text-align: justify;
}

.box1,.box2,.box3,.box4 {
    border: 2px solid rgb(108, 127, 107);
    padding: 20px;
    background: linear-gradient(180deg, #5e81a3, #b09ebff3);
    border-radius: 20px;
    margin-top: 10px;
}

body {
  background: linear-gradient(180deg, #8220c3, #b09ebff3);
  color: white;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
  transform: scale(1.05);
  transition: 0.3s;

}

a {
    text-decoration: none;
}






