* {
    margin: 0;
}



body {
    background-image: url("pexels-asadphoto-1450360.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

}

.head {
    background-color: rgb(44, 50, 55);
    opacity: 80%;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    padding: 10px;
}
a {
    text-decoration: none;
    font-size: larger;
    color: rgb(234, 216, 216);
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-between;
}
a:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 4px;
}


p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.about p,.service p {
    text-align: justify;
}

.contact a {
    color: rgb(223, 220, 22);
}

.contact a :hover {
    transform: scale(1.5);
}

.box1 {
    display: grid;
    grid-template-columns:30% 30% 30%;
    position: relative;
    top: 20rem;
    justify-content: space-between;
    margin: 20px;

}

h1 {
    font-weight: bolder;
    font-size: 3rem;
    color: white;
}

h3 {
    color: gold;
}

.about,.service,.contact{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.about:hover, .contact:hover, .service:hover{
    transition: 0.3s;
    transform: scale(1.1);
}



