body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 212, 29);
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.op {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 5px;
}

.input {
    padding: 10px;
}

.overallbox {
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    background-color: gray; 
    box-shadow: 2px 2px 2px 2px;
}

button {
    background-color: black;
    color: white;
}

